In [1]:
# Fill in student ID and name
# 
student_id = "224052461"
student_first_last_name = "Gursimer_kaur"
print(student_id, student_first_last_name)

224052461 Gursimer_kaur

In [8]:

import firebase_admin
from firebase_admin import credentials, db


databaseURL = "https://week5-e1b95-default-rtdb.firebaseio.com/"


cred_obj = credentials.Certificate(
   "C:\\Users\\gursi\\Downloads\\SIT225_2024T2\\week_5\\week5-e1b95-firebase-adminsdk-fbsvc-a373c25129.json"
)


default_app = firebase_admin.initialize_app(cred_obj, {
    "databaseURL": databaseURL
})

print("Firebase connected successfully!")

Firebase connected successfully!

In [9]:
from firebase_admin import db

# A reference point is always needed to be set
# before any operation is carried out on a database.
# 
ref = db.reference("/")

# JSON format data (key/value pair)
data = {  # Outer {} contains inner data structure
	"Book1":
	{
		"Title": "The Fellowship of the Ring",
		"Author": "J.R.R. Tolkien",
		"Genre": "Epic fantasy",
		"Price": 100
	},
	"Book2":
	{
		"Title": "The Two Towers",
		"Author": "J.R.R. Tolkien",
		"Genre": "Epic fantasy",
		"Price": 100	
	},
	"Book3":
	{
		"Title": "The Return of the King",
		"Author": "J.R.R. Tolkien",
		"Genre": "Epic fantasy",
		"Price": 100
	},
	"Book4":
	{
		"Title": "Brida",
		"Author": "Paulo Coelho",
		"Genre": "Fiction",
		"Price": 100
	}
}

# JSON format data is set (overwritten) to the reference 
# point set at /, which is the root node.
# 
ref.set(data)

In [10]:
ref = db.reference("/")  # set ref point

# query all data under the ref
books = ref.get()  
print(books)
print(type(books))

# print each item separately
for key, value in books.items():
    print(f"{key}: {value}")


# Query /Book1
ref = db.reference("/Book1")
books = ref.get()
print(books)

{'Book1': {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Fellowship of the Ring'}, 'Book2': {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Two Towers'}, 'Book3': {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Return of the King'}, 'Book4': {'Author': 'Paulo Coelho', 'Genre': 'Fiction', 'Price': 100, 'Title': 'Brida'}}
<class 'dict'>
Book1: {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Fellowship of the Ring'}
Book2: {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Two Towers'}
Book3: {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Return of the King'}
Book4: {'Author': 'Paulo Coelho', 'Genre': 'Fiction', 'Price': 100, 'Title': 'Brida'}
{'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Fellowship of the Ring'}

In [11]:
# Write using push() function
# Note that a set() is called on top of push()
# 
ref = db.reference("/")
ref.set({
	"Books":
	{
		"Best_Sellers": -1
	}
})

ref = db.reference("/Books/Best_Sellers")

for key, value in data.items():
	ref.push().set(value)

In [12]:
# Update data
# 
# Requirement: The price of the books by 
# J. R. R. Tolkien is reduced to 80 units to 
# offer a discount.
# 
ref = db.reference("/Books/Best_Sellers/")
best_sellers = ref.get()
print(best_sellers)
for key, value in best_sellers.items():
	if(value["Author"] == "J.R.R. Tolkien"):
		value["Price"] = 90
		ref.child(key).update({"Price":80})

{'-OaEZhkYT_I5COYQPyXb': {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Fellowship of the Ring'}, '-OaEZi-j6WusKoG8fukO': {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Two Towers'}, '-OaEZiEg1Rwn0MYrfDlJ': {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Return of the King'}, '-OaEZiQq1VeYAj9JBGkQ': {'Author': 'Paulo Coelho', 'Genre': 'Fiction', 'Price': 100, 'Title': 'Brida'}}

In [13]:
# Let's delete all best seller books 
# with J.R.R. Tolkien as the author.
# 
ref = db.reference("/Books/Best_Sellers")

for key, value in best_sellers.items():
	if(value["Author"] == "J.R.R. Tolkien"):
		ref.child(key).set({})

In [14]:
# Delete all best_seller data.
# 
ref = db.reference("/Books/Best_Sellers/")
best_sellers = ref.get()
print(best_sellers)
print(type(best_sellers))

{'-OaEZiQq1VeYAj9JBGkQ': {'Author': 'Paulo Coelho', 'Genre': 'Fiction', 'Price': 100, 'Title': 'Brida'}}
<class 'dict'>

In [15]:
ref = db.reference("/Books/Best_Sellers")
ref.set({})